@model Application.TourAndTravel.BookingInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="banner" class="Sticky-typofloan-nav">
    <div class="banner-warp">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="banner-text">
                        <h1>Kashmir Tour Packages</h1>
                        <ul class="destination">
                            <li>Gulmarg</li>
                            <li>Pahalgam</li>
                            <li>Sonamarg</li>
                            <li>Doodhpathri</li>
                            <li>DalLake</li>
                            <li>Mughal Gardens</li>
                        </ul>
                        <h4>Lowest Price Guaranteed</h4>

                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="free-quotes tab--section" id="free-quote" data-anchor="free-quote">
                        <!-- <div class="sale-30"><img src="images/sale-30.png" alt="" class="img-fluid"></div> -->
                        <div class="get-free"><i></i>Get Free Quotes</div>
                        <div class="get-free-qoute">

                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                <form>

                                    @Html.HiddenFor(a => a.BookingInfoID)

                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.ClientName, new { @class = "form-control", @placeholder = "Name", @required = "" })
                                        @*<input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">*@
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email", @type = "email", @required = "" })
                                        @*@Html.ValidationMessageFor(a => a.FromCity, "", new { @class = "text-danger" })*@
                                        @*<input type="email" name="email" class="form-control" id="email" placeholder="Email">*@
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.MobileNo, new { @class = "form-control", @placeholder = "Mobile No", @required = "" })
                                        @*<input type="text" name="phone" class="form-control" id="mobile" placeholder="Mobile No." required="">*@
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.NoOfPax, new { @class = "form-control", @placeholder = "No of pax", @required = "" })
                                        @*<input type="text" name="no_of_pax" class="form-control" id="noofpax" placeholder="No of pax">*@
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.Duration, new { @class = "form-control", @placeholder = "Duration (Day/Night)", @required = "" })
                                        @*<input type="text" name="no_of_days" class="form-control" id="noofday" placeholder="No of pax">*@
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(a => a.message, new { @class = "form-control", @placeholder = "Your message" })
                                        @*<input type="text" name="message" class="form-control" id="comment" placeholder="Your message">*@
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" name="contacts_submit" class="btn btn-enq ">Send Enquiry</button>
                                    </div>

                                </form>
                            }
                            <hr />
                            @if (TempData["msg"] != null)
                            {
                                <div class="alert alert-sm alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <i class="fa fa-check"></i><strong></strong> @TempData["msg"]
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="book-online">
    <div class="best-price-2"><img src="~/Assets/images/best-price.png" alt="" class="img-fluid"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <h1 class="h1-global">BEST SEASON TO VISIT <span style="color:#1166A6;">KASHMIR</span></h1>
            </div>
        </div>
        <div class="row">
            <p style="text-align:justify;margin-top:35px;font-size: 17px;">
                Kashmir is unarguably known as Paradise on Earth, primarily for its captivating climate all throughout the year distinctively categorized into the four main seasons of winter, autumn, summer and spring. Rightfully the weather of Kashmir has been compared to that of Switzerland, with it snow capped mountains and picturesque landscapes and as a result millions of people have been visiting Srinagar for their Kashmir tour package. Owing to its aesthetic beauty and being one the biggest contributor to the tourism sector, Kashmir’s virgin beauty attracts millions of visitors throughout the year. Visitors who have unleashed their love for Kashmir have compared the beauty of Kashmir to the glimpse of the heaven and so Kashmir trips have been travellers no 1 choice . The Valley of Kashmir is enchanted with the beauty of all four seasons – spring, summer, autumn and winter and depending upon the taste of the customer each season enthralls you to the maximum of its beauty.SPRING SEASON FOR KASHMIR TOUR.The valley enthralls its visitors during the months of March till the first week of May. The visual effects of the land look like a carpet of blooming flowers as greenery spreads across it. Gardens and parks are roofed with fresh green grass and beautiful pansies and daisies. The customers whose eyes want to enjoy the lush green beauty of Kashmir, the springtime is the prime time to visit. The blossom of Tulip Garden SRINAGAR adds to the already lush green carpet that the valley bestows to its customers. Spring sets in by the mid-week of March and lasts till the end of May. SUMMER SEASON FOR KASHMIR TRIP. For the customers who want to escape the scorching sun of summer of India and relish the breeze of the valley, summer is the ideal time to visit. The Orchids and Gardens are full of fruits and flowers. The serenity of lakes, forests and rivers mesmerize the one and all. The chirping sound of birds, the melody of flowing rivers and the hues of flowers leave you spell bound. Summer sets in by the first week of June and lasts till the end of August. AUTUMN SEASON FOR KASHMIR TOUR If you have to see the Golden color of the valley, you are in the right season to see it. The entire valley gives you the shade of gold. The fallen leaves of Chinar is a never miss sight for anyone who has a taste for travel. Being considered as the best season for visit to Kashmir, autumn brings you the hues of gold and breeze of heaven. Autumn sets in by the first week of September and lasts till the end of November. WINTER SEASON FOR KASHMIR PACKAGES The chill of winter is for the brave hearted warm-blooded visitors who have a nick for snow and snow related activities. The best pass-time during this time of the year is watching the snow fall from the comfort of a well heated room, however for visitors with a taste the skiing in Gulmarg and winter sports add to the charm for their visit. The snow-capped landscape is nothing short of a visual treat of heaven. Winter sets in by the first week of December and lasts till the mid of March.
            </p>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn requirement">Call Now for customized packages</a>
            </div>
        </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
    });
    $(function () {
        $("#DepartureDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-MM-yy",
            language: "tr"
        });
</script>